<div class="card card-chart backgroudColor">
    <div class="card-header card-header-success">
        <div class="ct-chart" id="dailySalesChart"></div>
    </div>
    <div class="card-body">
        <h4 class="card-title">Recovery and Death Rate</h4>
        <p class="card-category">
            <span class="text-success newCases"><i class="fa fa-long-arrow-up"></i> Recovery Rate 55% </span></p>
            <p class="card-category">
                <span class="text-success newDeaths"><i class="fa fa-long-arrow-up"></i> Death Rate 55% </span></p>
        
        <div class="card-icon">
            <img src="./assets/images/sri lanka.png" width="40px" height="60px" alt="image">
        </div>        
    </div>
    
</div>
