<div class="recoveryRateSecton">
    <div class="reecoverRateSectiontext">
        <h4>Recovery Rate and Death Rate</h4>
        <p class="reecoverRateSectiontext-recovery">Recovery Rate</p>
        <p class="reecoverRateSectiontext-rate-value">{{(recoveryRate).toFixed(2)}}%</p>
        <p class="reecoverRateSectiontext-recovery">Death Rate</p>
        <p class="reecoverRateSectiontext-death-value">{{(deathRate).toFixed(2)}}%</p>
    </div>
    <div class="recoveryRateSectionCover">
        <img src="./assets/img/sri lanka.png">
        <div class="rateCircle">
            <p>{{(recoveryRate).toFixed(2)}}%</p>
        </div>
        <div class="deathCircle">
            <p>{{(deathRate).toFixed(2)}}%</p>
        </div>
    </div>           
   

</div>